# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env/
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/

# C++
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out
*.app
*.dSYM/
cmake-build-*/

# Node
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Coverage
coverage/

# Additional
/dist/
/coverage/
# Binary assets
/dash/app/favicon.ico
